body {
	background-color: #66ccff;
}

h1 {
	color: navy;
	margin-left: 0px;
	text-shadow: 1px 1px #000000;
	font: 40px Times;
	font-weight: bold;
}

h2 {
	color: navy;
	margin-left: 0px;
}

form {
	color: navy;
}

footer {
	font: 12px Times;
	font-weight: bold;
}

.h2Custom {
	color: black;
	margin-left: 0px;
}

.kijijiImg{
	border: 3px outset blue;
	box-shadow: rgba(0, 0, 1, 1) 1px 3px 7px;
	border-radius: 5px;

}

.myDiv1 {
	border: 3px outset blue;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 1, 1) 1px 3px 5px;
	background-color: lightblue;
	margin-left: 0px;
	max-width: 390px;
	padding: 10px;
}

.myDiv2 {
	border: 3px outset blue;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 1, 1) 1px 3px 5px;
	background-color: lightblue;
	margin-left: 0px;
	max-width: 385px;
	padding: 10px;
}

.myDiv3 {
	border: 3px outset blue;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 1, 1) 1px 3px 5px;
	background-color: lightblue;
	margin-left: 0px;
	max-width: 390px;
	padding: 10px;
}

