
/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

/* Taken from https://www.w3schools.com/howto/howto_css_parallax.asp */
html {
  scroll-behavior: smooth;
}

/* Bootstrap default font-family is Helvetica Neue */
h1 {
  font-family: "Impact", "fantasy";
  text-shadow: 3px 3px 1px black;
}

/* Taken from https://stackoverflow.com/questions/48735679/bootstrap-change-navbar-link-colors */
.navbar-nav li a{
  color: white !important;
  margin-left: 10px;
}

/* Logo custom style */
.logo {
  display: inline;
}

/* Taken from https://stackoverflow.com/questions/16349490/html-css-buttons-that-scroll-down-to-different-div-sections-on-a-webpage */
.parallax {
  padding: 50px;
  background-image: url("components/img/mainPage.jpg");
  min-height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headerSectionForParallax{
  font-size: 70px;
  color: rgb(0, 126, 21);
  font-family: "Impact", "Charcoal", "sans-serif";
  text-align: center;
  -webkit-text-stroke: 2px rgb(0, 0, 0); /* Taken from https://stackoverflow.com/questions/2570972/css-font-border*/
}

.textIntro {
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-family: "Georgia";
  text-align: center;
  text-shadow: 3px 3px 1px black;
}

/* Dividers Section */
.headerSection{
  font-size: 50px;
  color: rgb(255, 255, 255);
  font-family: "Impact", "Charcoal", "sans-serif";
  text-align: center;
  -webkit-text-stroke: 0.5px rgb(0, 0, 0); /* Taken from https://stackoverflow.com/questions/2570972/css-font-border*/
}

.container{
  margin-top: 15px;
  background-color: #1a1a1a;
}

.textSectionLarge {
  font-size: 30px;
  margin-left: 10px;
  display: inline;
  color: rgb(255, 255, 255);
  vertical-align: top;
  text-align: justify;
  display: inline-block;
  text-shadow: 3px 3px 1px black;
}

.textSectionLargeService {
  font-size: 21px;
  color: rgb(255, 255, 255);
  vertical-align: top;
  text-align: center;
  text-shadow: 3px 3px 1px black;
}


.card-title{
  display: inline;
  padding: 15px;
}

.textSectionLargeInfo {
  font-size: 24px;
  color: rgb(255, 255, 255);
  vertical-align: top;
  text-align: center;
  text-shadow: 3px 3px 1px black;
}

.textSectionSmallInfo {
  margin-top: 3px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  vertical-align: top;
  text-align: center;
  overflow-wrap: break-word;
}

/* Code taken from: https://css-tricks.com/snippets/css/glowing-blue-input-highlights/ */
input[type=text], textarea {
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}